<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DineEase</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script>
        async function update_order (_id, status) {
            if (status === 'Accepted by delivery agent') {
                const pic_time = ~~prompt('Estimated time for pickup');
                const del_time = ~~prompt('Estimated time for delivery');
                await axios.post('/delivery/update_order', { _id, status, del_time, pic_time })
            } else {
                await axios.post('/delivery/update_order', { _id, status })
            }
            alert('Order status has been updated');
            location.reload();
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">DineEase</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/delivery/past_orders">Past Orders</a>
                    </li>
                </ul>
                <button class="btn btn-outline-success" style="margin-right:10px;"><a class="nav-link"
                        href="/logout">Logout</a></button>

            </div>
        </div>
    </nav>
    <h1>
        Orders Assigned
    </h1>
    <hr>
    {% if current_order %}
    <div class="row">
        <div class="col">
            <h5>
                {{ current_order.restaurant }}
            </h5>
        </div>
        <div class="col">
            <h5>
                {{ current_order.customer }}
            </h5>
        </div>
        <div class="col">
            <div class="row">
                <b>Customer_Address: </b>
                {{ current_order.address }}
            </div>
            <div class="row my-5">
                <b> Customer_phone number:</b>
                {{ current_order.phone }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-outline-success"><span style="color: black;">Order Status-</span><span style="color: green;">{{ current_order.status }}</span></button>
        </div>
        <div class="col">
            <button class="btn btn-success" onclick="update_order('{{ current_order._id }}', 'Delivered')">Confirm Delivery</button>
        </div>
    </div>
    <br>
    <hr>
    {% endif %}
    {% for order in orders %}
    <div class="row">
        <div class="col">
            <h5>
                {{ order.restaurant }}
            </h5>
        </div>
        <div class="col">
            <h5>
                {{ order.customer }}
            </h5>
        </div>
        <div class="col">
            <div class="row">
                <b>Customer_Address: </b>
                {{ order.address }}
            </div>
            <div class="row my-5">
                <b> Customer_phone number:</b>
                {{ order.phone }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-outline-success"><span style="color: black;">Order Status-</span><span style="color: green;">{{ order.status }}</span></button>
        </div>
        <div class="col">
            <button class="btn btn-success" onclick="update_order('{{ order._id }}', 'Accepted by delivery agent')">Accept</button>
        </div>
        <div class="col">
            <button class="btn btn-danger" onclick="update_order('{{ order._id }}', 'Delivery agent to be assigned')">Decline</button>
        </div>
    </div>
    <br>
    <hr>
    {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>